html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    background-color: #FFC107;/*altera a cor do fundo da pagina*/
    font-family: Arial, Helvetica, sans-serif;/*altera a fonte usada na pagina*/
}
#col1{
    background-color: white;
    width: 400px;/*altera o tamanho da caixa do formulario*/
    border-radius: 5px;/*arredonda a borda do formulario*/
    text-align: center; /*alinha o texto no centro*/
    padding-top: 10px; /*adiciona 10 px de espaço pra cima*/
    padding-bottom: 38px;/*adiciona 38px de espaço para baixo*/
    padding-left: 36px;/*adiciona 38 de espaço para esquerda*/
    padding-right: 38px;/*adiciona 38px de espaço para direita*/
}
.titulo{
    font-size: 32px;/*altera o tamanho da fonte*/
    margin-top: 14px;/*adiciona margem para cima*/
    margin-bottom: 12px;/*adiciona margem para baixo*/
    font-weight: bold;/*altera a fonte para negrito*/
}
.texto{
    font-size: 18px;
    font-weight: bold;
}
.formulario{
    margin-top: 32px;
    text-align: left;
}